.vs/
new_uc/bin/
new_uc/obj/
new_ucs/bin/
new_ucs/obj/
packages/
uc_net/bin/
uc_net/obj/
ucbw/obj/
ucbw/bin/
uc/bin
uc/obj
*.csproj.user
ucs/target/
uc_rust/target/
anafora_std_console_rust/target/
uct/obj/Release/
uct/bin/Release/
